<div class="jumbotron">
    <h1>Pipeline Service</h1>
    <p class="lead">
        This service is a sample service to aid <a href="http://www.monogame.net">MonoGame</a> developers working on Mac and Linux.
        Its purpose is to compile .fx shader code. To use it you will either need to get the Nuget Package and add it to your project.
        Alternatively compile the Content Pipeline Effect processor yourself.
        <br/>
        Once you have the .dll you will then need to add it as a reference to the Content.mgcb file in the pipeline editor (or manually).
        By default the Effect Processor will use this service. But if you want to host your own then you can provide the RemoteAddress and RemotePort parameters.
        <br />
        There is also a simple console app which can be hosted internally to provide the same functionality.
    </p>
    <h4>Privacy Notice</h4>
    <p>
       The code uploaded to this service and the compiled results are deleted once they are sent back to the client.<br />
       No code is is stored on this service.
    </p>
    <p><a href="https://github.com/infinitespace-studios/InfinitespaceStudios.Pipeline" class="btn btn-primary btn-lg">Get the Code &raquo;</a></p>
    <p><a href="https://nuget.org/packages/InfinitespaceStudios.Pipeline/" class="btn btn-primary btn-lg">Get the Nuget &raquo;</a></p>
</div>
<div class="row">
    <span id="siteseal">
    <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=jFnhBuhy6KZ3gopKqJKaLrlPmvrSdSzc150uEqWKtFbuNIO3uoBInYM3TqOK"></script></span>
</div>
